.content{
    justify-content: center;
}

.fp-form{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  
  .example-button-row {
    margin: 8px 8px 8px 0;
  }
  
  button{
    flex:1;
  }